
@{
    ViewBag.Title = "Listar";
}

<div class="jumbotron center-block" style="white-space:pre-line">

    <br />
    <input type="button" value="Listar reportadores" id="btnCargar"/>

    <div id="divGet">

    </div>
</div>