
@{
    ViewBag.Title = "Registro";
}

<div class="jumbotron center-block" style="white-space:pre-line">

    <h3 style="color:grey" class="text-center">¿Eres nuevo en VIPA? Crea una cuenta con tu correo:</h3>

    <form>
        <div class="form-group">
            <input type="text" class="form-control" id="ID" placeholder="ID">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Alias" placeholder="Alias">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Perfil" placeholder="Perfil">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Apellido" placeholder="Apellido">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" id="Correo" placeholder="Correo">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="Contraseña" placeholder="Contraseña">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Estado" placeholder="Estado">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" id="Verificación" placeholder="Verificación">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>